<!-- begin section -->
<section class="section section--bg section--oil js-lazy" data-background-image="img/about/Oil.jpg">
  
 {{ mixins.lines('lines--section lines--section-bg lines--7', 7) }}

 <div class="letters letters--7">
   <div class="letter letter--1"><span>m</span></div>
   <div class="letter letter--2"><span>o</span></div>
   <div class="letter letter--3"><span>n</span></div>
   <div class="letter letter--4"><span>o</span></div>
   <div class="letter letter--5"><span>i</span></div>
   <div class="letter letter--6"><span>l</span></div>
 </div>

 <div class="section__block section__block-left-7-2 js-anim-el" data-anim-name="fadeInBottomLg" data-anim-duration="0.5s">
   <h2 class="title title--white">также мы предлагаем:</h2>
 </div>

 <div class="section__block section__block-left-7-4 js-anim-el" data-anim-name="fadeInBottomLg" data-anim-duration="0.5s">
   <div class="text text--left text--white text--thin">Моторные масла «MONOIL» для легковых автомобилей и техники большой грузоподъёмности, моторные масла для газовых двигателей, 2Т/4Т масла и специальные жидкости, смазки и комплексные решения для промышленности. </div>
 </div> 
</section>
<!-- end section -->