{%set
table = {
  mod: 'history-table--gray',
  list: [
  {
    date: '2017',
    text: "Monbat Economic Group набуває дві німецькі компанії з виробництва літій-іонних акумуляторів і систем великої 
потужності - Gaia Akkumulatorenwerke GmbH і EAS Germany GmbH і об'єднує їх в EAS Batteries GmbH. 
Piombifera Italiana SpA - третя за величиною компанія з переробки акумуляторів в Італії - стає частиною 
економічної групи Monbat"
  },
  {
    date: '2018-
2021',
    text: 'Monbat буде продовжувати домагатися операційних поліпшень і підвищення ефективності, для яких існують 
значні можливості, щоб стимулювати подальше розширення EBITDA на додаток до існуючого бізнес-плану.'
  }
]
}
%}

<!-- begin s-history -->
<section class="section--white overflow-hidden">
  <div class="container">
    <!-- begin history -->
    <div class="history history--center">
      <div class="history__left">
        <div class="history__block">
          <!-- begin history-block -->
          <div class="history-block history-block--simple history-block--img-diff">
            <div class="history-block__img">
              <div class="history-block__img-img js-lazy" data-background-image="./img/about/history-03.jpg"></div>
            </div>
          </div>
          <!-- end history-block -->
        </div>
      </div>

      <div class="history__right">
        {% include "partials/_history-table.html" %}
      </div>
    </div>
    <!-- end history -->
  </div>
</section>
<!-- end s-history -->