{%set
table = [
  {
    date: '1959',
    text: 'Відкриття заводу з виробництва акумуляторів
у Монтані, Болгарія, в державній власності'
  },
  {
    date: '1965',
    text: 'Завод СТАРТ відкриття виробництва в Добричі. 
Завод починає виробництво свинцево-кислотних 
акумуляторів в основному для експорту на АвтоВАЗ
в СРСР.'
  },
  {
    date: '1983-
1986',
    text: 'Переоснащення виробничої фабрики сучасною технікою в Монтані'
  },
  {
    date: '1992',
    text: 'Компания зарегистрирована в Коммерческом 
регистре под названием AKUMIKAR AD и имеет штаб-квартиру в Михайловграде (ныне Монтана).'
  },
  {
    date: '1998',
    text: 'АКУМІКАР АТ приватизується і стає 
приватною компанією'
  },
  {
    date: '1999',
    text: 'Компанія Monbat сертифікована на відповідність 
вимогам ISO 9001'
  }
]
%}

<!-- begin s-history -->
<section class="section--blue overflow-hidden">
  <div class="container">
    <!-- begin history -->
    <div class="history">
      <div class="history__left">
        <div class="history__block">
          <!-- begin history-block -->
          <div class="history-block">
            <div class="history-block__title">
              <div class="title title--lg title--white title--bold">история</div>
            </div>

            <div class="history-block__content">
              <div class="history-block__content-title">
                <div class="title title--white title--ttn title--bold">Создание компании и переход в <span class="underlined">частный сектор</span></div>
              </div>

              <div class="history-block__content-list">
                <div class="history-block__list-item">Создание заводов-производителей</div>
                <div class="history-block__list-item">Приватизация компаниии</div>
              </div>
            </div>
            
            <div class="history-block__img">
              <div class="history-block__img-img js-lazy" data-background-image="./img/about/history-01.jpg"></div>
            </div>
          </div>
          <!-- end history-block -->
        </div>
      </div>

      <div class="history__right">
        {% include "partials/_history-table.html" %}
      </div>
    </div>
    <!-- end history -->
  </div>
</section>
<!-- end s-history -->