{%set
slider = [
  {
    img: 'slide-01.jpg',
    text: 'Является одним из лидеров поставщиков свинца и свинцовых сплавов на мировые рынки. 
Перерабатывающие заводы Monbat Recycling - расположены в Болгарии, Сербии, Румынии и Италии, 
общая мощность которых составляет 158 000 тонн использованных свинцово-кислотных аккумуляторов
в год, идет подготовка к строительству нового завода в Украине, соответствующего всем экологическим 
стандартам ЕВРО 6.',
    title: 'РАСШИРЕНИЕ РЫНКА'
  },
  {
    img: 'slide-01.jpg',
    text: 'Является одним из лидеров поставщиков свинца и свинцовых сплавов на мировые рынки. 
Перерабатывающие заводы Monbat Recycling - расположены в Болгарии, Сербии, Румынии и Италии, ',
    title: 'РАСШИРЕНИЕ РЫНКА'
  },
  {
    img: 'slide-01.jpg',
    text: 'Является одним из лидеров поставщиков свинца и свинцовых сплавов на мировые рынки. 
Перерабатывающие заводы Monbat Recycling - расположены в Болгарии, Сербии, Румынии и Италии, 
общая мощность которых составляет 158 000 тонн использованных свинцово-кислотных аккумуляторов
в год, идет подготовка к строительству нового завода в Украине, соответствующего всем экологическим 
стандартам ЕВРО 6.',
    title: 'РАСШИРЕНИЕ РЫНКА'
  },
  {
    img: 'slide-01.jpg',
    text: 'Является одним из лидеров поставщиков свинца и свинцовых сплавов на мировые рынки. 
Перерабатывающие заводы Monbat Recycling - расположены в Болгарии, Сербии, Румынии и Италии, ',
    title: 'РАСШИРЕНИЕ РЫНКА'
  }
]
%}

<!-- begin section -->
<section class="section s-tasks">
  <div class="container">
    <div class="s-tasks__title">
      <div class="s-tasks__word">
        <div class="word word--lg">5</div>
      </div>

      <div class="section__title">
        <div class="title title--bold title--gray"><span class="underlined">задачи</span></div>
      </div>

      <div class="section__subttl s-tasks__subttl">
        Являясь экономической составляющей  MONBAT GROUP
        ООО «МОНБАТ УКРАИНА» ставит перед собой задачи 
        на ближайшие 5 лет:
      </div>
    </div>

    <div class="section-block__slider js-anim-el" data-anim-name="fadeIn" data-anim-delay="0.5s">
     <!-- begin slider -->
     <div class="slider__wrap slider--assort__wrap slider--assort-block__wrap">
      <div class="swiper-container js-animated-slider" data-slider="assort">

        <div class="slider slider--assort slider--assort-block swiper-wrapper">
          {% for i in slider %}
          <!-- begin slide -->
          <div class="swiper-slide">
            <div class="slide assort-slide assort-slide--block">
              <div class="assort-slide__content">
                <div class="assort-slide__title">
                  <div class="h4 h4--md h4--gray h4--bold"><span class="underlined">{{ i.title | safe }}</span></div>
                </div>

                <div class="assort-slide__text text text--gray text--thin">
                  {{ i.text | safe }}
                
                </div>
              </div>

              <div class="assort-slide__img js-lazy" data-background-image="img/about/{{ i.img }}"></div>
            </div>
          </div>        
          <!-- end slide -->
          {% endfor %}        
        </div>

      </div>

      <div class="slider--assort__btns">
        <button class="slider--assort__prev arrow arrow--prev js-prev">{{ mixins.icon('arrow') }}</button>
        <button class="slider--assort__next arrow arrow--next js-next">{{ mixins.icon('arrow') }}</button>
      </div>      
     </div>
     <!-- end slider -->
   </div>
  </div>
</section>
<!-- end section -->