<!-- begin section -->
<section class="section section--white">
  {{ mixins.lines('lines--fu lines--section') }}

 <div class="section__block section-block">
   <div class="section__title is-col-6-sm js-anim-el" data-anim-name="fadeInLeft" data-anim-duration="0.5s">
     <h1 class="title">Быстро развивающаяся компания, которая была <strong>создана в мае 2017г</strong></h1>
   </div>

   <div class="section-block__article is-col-5-sm text--thin text--gray js-anim-el" data-anim-name="fadeInBottomLg" data-anim-duration="0.5s">
     <p>Основным видом деятельности является продажа аккумуляторных батарей и моторных масел ведущего европейского производителя Монбат Групп.</p>
     <p>Компания <strong>«АККУМУЛЯТОРНО-БАТАРЕЙНЫЕ СИСТЕМЫ»</strong> является официальным дистрибьютором ООО «МОНБАТ УКРАИНА» - эксклюзивного представителя аккумуляторных батарей ТМ «MONBAT»; ТМ «START»; 
ТМ «WINMAXX» и ТМ «MONOIL</p>
   </div>

   <div class="section-block__img js-lazy" data-background-image="img/about/img-2.jpg">
     {# <img data-src="img/about/img-2.jpg" alt="" class="js-lazy"> #}
   </div>

   <div class="section-block__img-right js-lazy js-parallax" data-rellax-percentage="0.1" data-background-image="img/about/img-1.jpg"></div>
 </div>
</section>
<!-- end section -->