<!-- begin s-leader -->
<section class="s-leader js-lazy" data-background-image="./img/about/bg-leader.jpg">
  <div class="s-leader__left">
    <div class="container">
      <div class="s-leader__content">
        <div class="s-leader__title">
          <div class="title title--white title--ttn title--bold"><span class="underlined">ООО «МОНБАТ УКРАИНА»</span> 
            является одним из лидеров на рынке 
          аккумуляторных батарей Украины</div>
        </div>

        <div class="s-leader__subttl">Основными дистрибьюторами «МОНБАТ УКРАИНА» являются::</div>
      </div>
    </div>
  </div>

  <div class="s-leader__right">
    <div class="s-leader__links">
      <a href="#" class="s-leader__link s-leader__link-lg">
        <img class="js-lazy" alt="" src="" data-src="./img/about/ABS_logo.png"/>
      </a>
      <a href="#" class="s-leader__link">
        <img class="js-lazy" alt="" src="" data-src="./img/about/epicenter logo.png"/>
      </a>
      <a href="#" class="s-leader__link">
        <img class="js-lazy" alt="" src="" data-src="./img/about/logo_header.png"/>
      </a>
    </div>
  </div>
</section>
<!-- end s-leader -->