{%set
table = {
  mod: 'history-table--gray',
  list: [
  {
    date: '2000',
    text: 'Відкриття заводу з виробництва акумуляторів
у Монтані, Болгарія, в державній власності'
  },
  {
    date: '2001',
    text: 'Завод СТАРТ відкриття виробництва в Добричі. 
Завод починає виробництво свинцево-кислотних 
акумуляторів в основному для експорту
на АвтоВАЗ в СРСР.'
  }
]
}
%}

<!-- begin s-history -->
<section class="section--white overflow-hidden">
  <div class="container">
    <!-- begin history -->
    <div class="history history--center">
      <div class="history__left">
        <div class="history__block">
          <!-- begin history-block -->
          <div class="history-block history-block--simple history-block--blue">

            <div class="history-block__content">
              <div class="history-block__content-title">
                <div class="title title--inherit title--ttn title--bold"><span class="underlined">Развитие</span> интегрированного производства</div>
              </div>

              <div class="history-block__content-list">
                <div class="history-block__list-item">Добавлена ​​возможность утилизации</div>
                <div class="history-block__list-item">Диверсификация продукции</div>
              </div>
            </div>
          </div>
          <!-- end history-block -->
        </div>
      </div>

      <div class="history__right">
        {% include "partials/_history-table.html" %}
      </div>
    </div>
    <!-- end history -->
  </div>
</section>
<!-- end s-history -->