{%set
social = [
  {
    nmb: '01',
    text: 'ООО «МОНБАТ УКРАИНА» являлось генеральным спонсором трофи-рейдов
 «АТЛ ТРОФИ»'
  },
  {
    nmb: '02',
    text: 'Поддерживает и спонсирует развитие спорта в Украине совместно 
с Федерацией Баскетбола Украины'
  },
  {
    nmb: '03',
    text: 'С 2017 года проводятся ежегодные 
соревнования «MONBAT CUP»
по баскетболу 3х3'
  },
  {
    nmb: '04',
    text: 'В 2019 году основана баскетбольная 
команда 3х3 
«КИЕВ МОНБАТ»'
  }
]
%}

<!-- begin s-social -->
<section class="section s-social">
  <div class="word word--sm">social</div>

  <div class="container">
    <div class="section__title">
      <div class="title title--bold title--gray"><span class="underlined">социальная ответственность</span></div>
    </div>

    <!-- begin social-items -->
    <div class="social-items">
      {% for i in social %}
      <div class="social-items__item">
        <!-- begin social-item -->
        <div class="social-item">
          <div class="social-item__nmb">{{ i.nmb | safe }}</div>

          <div class="social-item__text">{{ i.text | safe }}</div>
        </div>
        <!-- end social-item -->
      </div>
      {% endfor %}
    </div>
    <!-- end social-items -->
  </div>
</section>
<!-- end s-social -->