---
title: article-page
page: article-page
outClass: 'article-page'
header: {
  mod: ''
}
hero: {
  title: '<span class="underlined">МОНБАТСЬКІ</span> ДОСЛІДЖЕННЯ <br>
ІНВЕСТИЦІЙНИХ МОЖЛИВОСТЕЙ',
  mod: 'hero--full',
  titleH2: true,
  titleMod: 'title title--semi title--white',
  bgImage: 'bg-hero-article.jpg',
  breadcrumbs: {
    isInTop: true,
    list: [
      { link: 'Головна' },
      { item: '/' },
      { link: 'Новини' },
      { item: '/' },
      { link: 'Монбатські дослідження інвестиційних можливостей', modLink: 'is-active' }
    ]
  },
  date: true,
  scroll: true
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_header.html" %}
  {% include "partials/_hero.html" %}

  {% include "partials/_article-page.html" %}

  {% include "partials/_footer.html" %}
{% endblock %}
