---
title: contacts
page: contacts
outClass: 'contacts-page'
header: {
  mod: ''
}
hero: {
  mod: 'hero--lg',
  title: 'КОНТАКТИ',
  titleMod: 'title-subttl',
  titleH2: true,
  titleWrapMod: '',
  titleLineUnderTitle: true,
  subttl: 'завітайте до нашого офісу або зателефонуйте нам',
  bgImage: 'bg-hero-contacts.jpg',
  breadcrumbs: {
    isInTop: true,
    list: [
      { link: 'Головна' },
      { item: '/' },
      { link: 'Контакти', modLink: 'is-active' }
    ]
  }
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_header.html" %}
  {% include "partials/_hero.html" %}
 
  {% include "partials/contacts/_contacts-slider.html" %} 
  {% include "partials/contacts/_contacts-form.html" %}
  {% include "partials/contacts/_contacts-map.html" %}

  {% include "partials/_footer.html" %}
{% endblock %}
