---
title: contacts
page: contacts
outClass: 'contacts-page'
header: {
  mod: ''
}
hero: {
  mod: 'hero--lg',
  title: '<small>НАШІ</small> КОНТАКТИ',
  titleMod: 'h2',
  titleH2: true,
  titleWrapMod: 'title-under title-under--white',
  subttl: 'Якщо у вас з’явилися питання або цікаві пропозиції, зв’яжіться з нами будь-яким зручним для вас способом',
  bgImage: 'bg-hero-contacts.jpg'
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_header.html" %}
  {% include "partials/_hero.html" %}
 
  {% include "partials/contacts/_contacts-slider.html" %} 
  {% include "partials/contacts/_contacts.html" %} 
  {% include "partials/contacts/_contacts-form.html" %} 
  {% include "partials/contacts/_contacts-subscribe.html" %}

  {% include "partials/_footer.html" %}
{% endblock %}
