---
title: item-page
page: item-page
outClass: 'item-page'
subNav: {
  active: true
}
hero: {
  title: 'Для легкових автомобілів',
  breadcrumbs: [
    { item: '', link: 'ABS', modItem: '', modLink: '' },
    { item: '/', link: '', modItem: '', modLink: '' },
    { item: '', link: 'Продукція', modItem: '', modLink: '' },
    { item: '/', link: '', modItem: '', modLink: '' },
    { item: '', link: 'Для легкових автомобілів', modItem: '', modLink: 'is-active' }
  ]
}
main: {
  mod: 'main--full',
  modContent: 'content--full',
  hero: true,
  mainColor: '#36c0e2',
  secondaryColor: '#e1faff',
  img: 'MONBAT EFB L3.png',
  logo: 'logo-1.png'
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_header.html" %}
  {% include "partials/_item-page.html" %}
  {% include "partials/_footer.html" %}
{% endblock %}


