---
title: news
page: news
outClass: 'news-page'
header: {
  mod: ''
}
hero: {
  title: '<small>АКТУАЛЬНІ</small> НОВИНИ',
  titleMod: 'title--white',
  bgImage: 'bg-hero-news.jpg',
  breadcrumbs: {
    isInTop: true,
    list: [
      { link: 'ABS' },
      { item: '/' },
      { link: 'Новини', modLink: 'is-active' }
    ]
  }
}
footer: {
  mod: 'footer--gray'
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_header.html" %}
  {% include "partials/_hero.html" %}

  {% include "partials/_news.html" %}

  {% include "partials/_footer.html" %}
{% endblock %}
