<!-- begin section -->
<section class="section section--full section--error js-lazy" data-background-image="img/bg-404.jpg">
  <!-- begin error -->
  <div class="error">
    <div class="error__oops">Ой!</div>

    <div class="error__title">
      <h1 class="h2 h2--fu h2--red h2--small-ttn"><small>Такої сторінки</small> НЕ ІСНУЄ</h1>
    </div>

    <div class="error__subttl text text--thin is-center">Сторінки, яку ви шукали не існує. Але ви можете почати спочатку</div>

    <div class="error__line">
      <div class="line-sm line-sm--red"></div>
    </div>

    <div class="error__btn">
      {{ mixins.btn(
        title = 'На головну',
        mod = 'btn--red'
      ) }}
    </div>
  </div>
  <!-- end error -->
</section>
<!-- end section -->