<!-- begin main -->
<main class="main main--plain section section--md pb-0">
  <div class="container">
    <div class="section__article">
      <!-- begin article -->
      <div class="article">
        <div class="article__content">
          <h4>Подзаголовок</h4>

          <p><strong>Давно выяснено,</strong> что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>

          <ul>
            <li>Определите количество необходимых вам абзацев;</li>
            <li>Определите количество символов в каждом абзаце;</li>
            <li>Выберите стиль текста – это может быть философский текст на русском языке, случайный текст на английском</li>
          </ul>

          <img class="js-lazy" alt="" src="" data-src="./img/article/01.jpg"/>

          <blockquote>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник
          </blockquote>

          <h4>Подзаголовок</h4>

          <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum 
          используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.  </p>

          <img class="js-lazy" alt="" src="" data-src="./img/article/01.jpg"/>

          <p>Также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum 
          в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
          <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum 
            для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. 
            Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь 
          из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
        </div>

        <div class="article__aside">
          <aside class="article-aside">
            <div class="article-aside__search"></div>

            <div class="article-aside__block">
              <div class="article-aside__title">
                <h4 class="h4 h4--md h4--semi h4--text h4--ttn">Останні новини</h4>
              </div>

              {% for i in range(0, 2) %}
              <div class="article-aside__article">
                <!-- begin article-sm -->
                <a href="#" class="article-sm">
                  <span class="article-sm__img js-lazy" data-background-image="./img/article/01-sm.jpg"></span>

                  <span class="article-sm__content">
                    <span class="article-sm__date">
                      {{ mixins.icon('time') }}
                      28.09.2017
                    </span>

                    <span class="article-sm__title">
                      <h5 class="h5 h5--text h5--ttn">Монбат запровадив нові умови розвитку</h5>
                    </span>

                    <span class="article-sm__text text text--thin text--gray">Власник компанії MONBAT
                      розповів, які зміни чекають
                    компанію...</span>
                  </span>
                </a>
                <!-- end article-sm -->
              </div>
              {% endfor %}
            </div>

            <div class="article-aside__block">
              <div class="article-aside__title">
                <h4 class="h4 h4--md h4--semi h4--text h4--ttn">Категорії статей</h4>
              </div>

              <!-- begin aside-nav -->
              <nav class="aside-nav">
                <ul>
                  <li><a href="#">Усі категорії (18)</a></li>
                  <li><a href="#">Блог (8)</a></li>
                  <li><a href="#">Новини (6)</a></li>
                  <li><a href="#">Події (4)</a></li>
                </ul>
              </nav>
              <!-- end aside-nav -->
            </div>
          </aside>
        </div>
      </div>
      <!-- end article -->
    </div>

    <div class="section__title">
      <h2 class="title title--gray title--semi">Вас також може зацікавати</h2>
    </div>

    <!-- begin news -->
    <div class="news">
      <div class="news__items">
        {% for i in range(0, 3) %}
          {% include "partials/_news-item.html" %}
        {% endfor %}
      </div>
    </div>
    <!-- end news -->
  </div>  
</main>
<!-- end main -->