<!-- begin main -->
<main class="main main--section main--color main--no-pad">

  <div class="main__block">
    <div class="title-lines"></div>

    <!-- begin article -->
    <div class="article">
      <div class="container">
        <h3 class="h3 h3--sm h3--ttn">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты?</h3>

        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами..Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими </p>



        <img data-src="img/article/img-2.jpg" alt="" class="js-lazy">

        <blockquote>
          {{ mixins.icon('quotes') }}
          <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами..</p>
        </blockquote>

        <p><strong>Далеко-далеко за словесными горами?</strong> Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими
        Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в ро </p>

        <figure>
          <img data-src="img/article/img-1.jpg" alt="" class="js-lazy">
          <figcaption>Виставка у франкфурті 2019</figcaption>
        </figure>
      </div>
    </div>
    <!-- end article -->
</div>

  <div class="main__block">
    <div class="container">
      <div class="section__title title-under is-center">
        <h2 class="h1 h1--text h1--ttn"><small>Вас також</small> може зацікавити</h2>
      </div>

      {% include "partials/_more-articles.html" %}
    </div>
    
  </div>

  <div class="main__block">
    <div class="container">
      {% include "partials/_subscribe.html" %}
    </div>
  </div>
  

  

</main>
<!-- end main -->