{% if hero.fullpage %}
<!-- begin fullpage-section -->
  <section class="fullpage-section fullpage-section--hero js-lazy js-mobile-height" data-background-image="img/home/home-1.jpg">
  
  <div class="letters">
    <div class="letter letter--fu letter--1"><span>a</span></div>
    <div class="letter letter--fu letter--2"><span>b</span></div>
    <div class="letter letter--fu letter--3"><span>s</span></div>
  </div>
  

 {{ mixins.lines('lines--fu') }}

  <div class="fullpage-section__descr words words--fu">
    <div class="word word--1"><span>accumulatory</span></div>
    <div class="word word--2"><span>battery</span></div>
    <div class="word word--3"><span>systems</span></div>
  </div>
</section>
<!-- end fullpage-section -->

{% elseif page === 'catalog' %}

<!-- begin hero -->
<section class="hero{% if hero.mod %} {{ hero.mod }}{% endif %} js-lazy" data-background-image="img/hero/{% if hero.bgImage %}{{ hero.bgImage }}{% else %}bg-hero.jpg{% endif %}">
  {% if hero.breadcrumbs.isInTop %}
  <div class="hero__breadcrumbs hero__breadcrumbs-top">
    {{ mixins.list(
      name = 'breadcrumbs',
      modifications = hero.breadcrumbs.modifications,
      list = hero.breadcrumbs.list
    ) }}
  </div>
  
  {% endif %}
  <div class="hero__block overflow-hidden">

    <div class="hero__title{% if hero.titleWrapMod %} {{ hero.titleWrapMod }}{% endif %}">
      <h1 class="title--xl">monbat</h1>
      <div class="title-subttl">продукція</div>
    </div>

    <div class="overflow-hidden">
      <div class="line-sm{% if hero.titleLine.mod %} {{ hero.titleLine.mod }}{% endif %}"></div>
    </div>

    <div class="hero__subttl">
      <div class="h2-subttl">source of power</div>
    </div> 

   
  </div>
</section>
<!-- end hero -->


{% else %}


<!-- begin hero -->
<section class="hero{% if hero.mod %} {{ hero.mod }}{% endif %} js-lazy" data-background-image="img/hero/{% if hero.bgImage %}{{ hero.bgImage }}{% else %}bg-hero.jpg{% endif %}">
  {% if hero.breadcrumbs.isInTop %}
  <div class="hero__breadcrumbs hero__breadcrumbs-top">
    {{ mixins.list(
      name = 'breadcrumbs',
      modifications = hero.breadcrumbs.modifications,
      list = hero.breadcrumbs.list
    ) }}
  </div>
  
  {% endif %}
  <div class="hero__block overflow-hidden">
    {% if hero.title %}
    <div class="hero__title{% if hero.titleWrapMod %} {{ hero.titleWrapMod }}{% endif %}">
      <h1 class="{% if not hero.titleH2 %}h1{% endif %}{% if hero.titleMod %} {{ hero.titleMod }}{% endif %}">{{ hero.title | safe }}</h1>
    </div>
    {% endif %}
    {% if hero.subttl %}
    <div class="hero__subttl">
      <div class="h2-subttl">{{ hero.subttl | safe }}</div>
    </div>    
    {% endif %}
    {% if hero.titleLine %}
    <div class="overflow-hidden">
      <div class="line-sm{% if hero.titleLine.mod %} {{ hero.titleLine.mod }}{% endif %}"></div>
    </div>
    {% endif %}
    {% if hero.breadcrumbs.isUnderTitle %}
    <div class="overflow-hidden">
      <div class="hero__breadcrumbs">
        {{ mixins.list(
          name = 'breadcrumbs',
          modifications = { wrap: '', item: '', link: '' },
          list = hero.breadcrumbs.list
        ) }}
      </div>
    </div>
    {% endif %}   
  </div>
</section>
<!-- end hero -->
{% endif %}