<!-- begin section -->
<main class="main main--plain section section--lg">
  <div class="container">
    <div class="section__title">
      <h2 class="title title--gray title--semi">Новини за категоріями</h2>
    </div>
  </div>
  <!-- begin news -->
  <div class="news">
    
    <div class="container">
      <div class="news__tabs">
        <button class="news__tab is-active">Усі категорії</button>
        <button class="news__tab">Блог</button>
        <button class="news__tab">Новини</button>
        <button class="news__tab">Події</button>
      </div>
    </div>

    <div class="news__items">
      {% for i in range(0, 6) %}
      {% include "partials/_news-item.html" %}
      {% endfor %}
    </div>
    

    <div class="news__btn">
      {{ mixins.btn(
        title = 'читати більше',
        mod = 'btn--transp-blue-accent',
        href = false
      ) }}
    </div>
  </div>
  <!-- end news -->
</main>
<!-- end section -->