{% set 
form = [
  { name: 'input', mod: 'input--lg input--gray input--placeholder', fieldClass: 'js-input-placeholder', type: 'text', placeholder: 'Ім’я' },
  { name: 'input', mod: 'input--lg  input--gray input--placeholder', fieldClass: 'js-input-placeholder', type: 'tel', placeholder: 'Телефон' },
  { name: 'textarea', mod: 'textarea--lg textarea--gray textarea--placeholder', fieldClass: 'js-textarea js-input-placeholder', type: '', placeholder: 'Повідомлення' }
]
%}

{% extends "layouts/_popup.html" %}

{% set popupName = 'call' %}

{% block content %}
  <div class="popup__title">
    <h4 class="h4 h4--md h4--gray">замовити дзвінок</h4>
  </div>

  <div class="popup__title-line">
    <div class="line-sm line-sm--gray line-sm--static"></div>
  </div>

  <div class="popup__form form form--contacts">
    <form>
      {% for i in form %}
      <div class="form__field">
        {{ mixins.input(
          name = i.name,
          mod = i.mod,
          type = i.type,
          label = { last: i.placeholder },
          fieldClass = i.fieldClass
        ) }}
      </div>
      {% endfor %}

      <div class="form__btn">
        {{ mixins.btn(
          title = 'зв’язатися',
          mod = 'btn--sec btn--lg-height btn--md-width',
          href = false
        ) }}
      </div>

      <div class="form__info">
        {{ mixins.icon('locked') }}
        Ваші контактні дані не будуть передані стороннім особам
      </div>
    </form>
  </div>
{% endblock %}