<!-- begin section -->
<section class="section section--lg">
  <div class="container">
    <div class="section__title">
      <h2 class="title title--bold title--gray">дізнайтеся, як до нас проїхати у режимі онлайн</h2>
    </div>

    <div class="section__subttl text text--gray">Інтерактивна карта допоможе вам побачити точну адресу нашого філіалу, а також прокласти найзручніший маршрут, <br>
    в залежності від способу пересування : автомобілем, громадським транспортом або пішки.</div>

    <!-- begin map -->
    <div class="map">
      <iframe class="js-lazy" src="" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.8680846682346!2d30.533283215894844!3d50.40629599842629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf45d9627f49%3A0x1d32bc9e245a0474!2z0JbQtdC70LXQt9C90L7QtNC-0YDQvtC20L3QvtC1INGILiwgNiwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1570010102996!5m2!1sru!2sua"  frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <!-- end map -->
  </div>
</section>
<!-- end section -->