{%set
contacts = [
  { delay: '',icon: 'location', title: 'АДРЕСА', text: 'Головний офіс вул. Залізничне Шосе, 6, Київ, 01103' },
  { delay: '.2s',icon: 'phone', title: 'ЗВ’ЯЗАТИСЯ НАПРЯМУ', text: '<a href="tel:+380504947606">+38 050 494 76 06</a>' },
  { delay: '.4s',icon: 'email', title: 'E-MAIL', text: '<a href="mailto:info@abss.com.ua">info@abss.com.ua</a>' }
]
%}

<!-- begin section -->
<section class="section section--md section--black">
  <div class="container">
    <!-- begin contacts -->
    <div class="contacts">
      {% for i in contacts %}
      <!-- begin contact -->
      <div class="contact js-anim-el" data-anim-name="fadeInBottom" data-anim-delay="{{ i.delay }}">
        <div class="contact__icon">
          {{ mixins.icon(i.icon) }}
        </div>

        <div class="contact__title">
          <h5 class="h5 h5--white">{{ i.title }}</h5>
        </div>

        <div class="contact__text text text--gray">{{ i.text | safe }}</div>
      </div>
      <!-- end contact -->
      {% endfor %}
    </div>
    <!-- end contacts -->
  </div>
</section>
<!-- end section -->