.article
  color: $gray
  +flex(flex-start, normal, row, wrap)
  margin-left: -15px
  margin-right: -15px
  &__content
    padding-left: 15px
    padding-right: 15px
    width: percentage(8/12)
    +md
      width: 100%
      margin-bottom: 15px
    h2, h3, h4, p, img, ul, ol, blockquote
      +notlast
        margin-bottom: 25px
        +md
          margin-bottom: 10px

    img
      width: 100%
    ol
      list-style-type: decimal
      margin-left: 1.1em
    strong
      font-weight: 400
      +bold

    h2, h3, h4
      color: $c-text
    h4
      @extend .h4
      @extend .h4--md
      @extend .h4--text
      @extend .h4--semi
      @extend .h4--ttn
      position: relative
      +before
        border-top: 2px solid  $red
        width: 25px
        top: 1.1em
        left: 0
        position: absolute
    blockquote
      background-color: $gray-lightest
      padding: 25px 40px
      border-left: 2px solid  $red
    ul
      li
        &::before
          content: "\2022"
          display: inline-block
          margin-right: 5px
  
  &__aside
    padding-left: 15px
    padding-right: 15px
    width: percentage(4/12)
    +md
      width: 100%

.article-sm
  $this: &  
  +flex()
  +xs
    display: block
  &__img
    display: block
    flex: 0 0 145px
    height: 145px
    +cover
    +tr(transform .3s) 
    position: relative
    +xs
      width: 145px
      margin-bottom: 10px
  &__date
    margin-bottom: 10px
    color: $gray
    display: block
    font-size: $fz-md
    .icon
      fill: currentColor
      position: relative
      top: .15em
      margin-right: 5px
  &__title
    margin-bottom: 10px
    display: block
    position: relative
    +before
      position: absolute
      border-top: 2px solid  $red
      width: 25px
      left: 0
      bottom: 0
  &__text
    display: block
  &__content
    display: block
    flex: 0 0 calc(100% - 145px)
    padding-left: 30px
    +tr(transform .3s)
    +lg
      padding-left: 15px
    +xs
      padding-left: 0

.article-aside
  &__title
    margin-bottom: 15px
    +md
      margin-bottom: 10px
  &__block
    margin-bottom: 30px
    +md
      margin-bottom: 15px
  &__article
    padding-top: 15px
    padding-bottom: 15px
    border-bottom: 1px solid  $c-border
    &:first-child
      border-top: 1px solid  $c-border

.aside-nav
  li
    border-bottom: 1px solid  $c-border
    padding-left: 25px
    position: relative
    +before
      border-top: 1px solid  $c-border
      width: 15px
      top: 50%
      transform: translate(0, -50%)
      left: 0
      position: absolute
    +after
      +icon-arrow(6, 6, 1, $c-border, 225)
      position: absolute
      top: 50%
      left: 10px
      transform: translate(0, -50%) rotate(225deg)
    &:first-child
      border-top: 1px solid  $c-border
  a
    display: block
    padding: 15px 0
    position: relative
    +hover
      +before
        display: block
    +before
      border-top: 2px solid $red
      width: 25px
      bottom: 0
      left: 0
      position: absolute
      display: none
