.section
  $this: &
  position: relative
  background-color: $white
  padding-top: var(--section-padding-lg, 100px)
  padding-bottom: var(--section-padding, 40px)
  &__block
    position: relative
    left: $left-1-fucked-up
    width: calc(100% - #{$left-1-fucked-up})
    padding-right: var(--section-padding-md, 65px)
    +lg
      left: 0
      width: auto
      padding-left: var(--section-padding-md, 65px)
  &__block-left-7-2
    left: $left-7-2
    width: calc(100% - #{$left-7-2})
    +lg
      left: 0
      width: auto
      padding-left: var(--section-padding-md, 65px)
  &__block-left-7-4
    left: $left-7-4
    width: calc(100% - #{$left-7-4})
  &__title, &__subttl
    margin-bottom: 35px
    +md
      margin-bottom: 25px
    +sm
      margin-bottom: 15px
  &__word
    position: absolute
    z-index: 0
  &__breadcrumbs
    padding-left: 40px
    padding-right: 40px
    +xll
      padding-left: 15px
      padding-right: 15px
  &__article
    margin-bottom: 80px
    +xl
      margin-bottom: 60px
    +lg
      margin-bottom: 40px
    +md
      margin-bottom: 20px
  &__slider
    opacity: 0

  &--white
    background-color: $white
    +sm
      .lines
        display: none
  &--gray
    background-color: $gray-lightest
  &--bg
    +cover  
  &--oil
    padding-top: 20%
    padding-bottom: var(--section-padding-lg, 100px)
    #{$this}__block-left-7-2
      margin-bottom: 85px
      +md
        margin-bottom: 65px
      +sm
        margin-bottom: 45px
    #{$this}__block-left-7-4
      max-width: 585px
  &--red
    background-color: $red-accent
  &--blue
    background-color: #050a24
  &--blue-accent-light
    background-color: $blue-accent-light
  &--principles
    +sm
      padding-bottom: 0
      .lines
        display: none
    #{$this}__word
      top: -.3em
      left: 10%
  &--lg
    padding-bottom: var(--section-padding-lg, 100px) !important
    padding-top: var(--section-padding-lg, 100px) !important
  &--md
    padding-top: var(--section-padding-md, 65px) !important
    padding-bottom: var(--section-padding-md, 65px) !important
  &--black
    background-color: $black
  &--al-full
    min-height: 75vh
    +flex(center, center, column)
  &--features
    #{$this}__block
      // &:first-child
      margin-bottom: 20px
      &:nth-child(2)
        max-width: 470px
      +sm
        // mb
    #{$this}__title
      margin-bottom: 0
      +sm
        // margin-bottom: 30px
        // margin-top: 15px
  &--full
    min-height: calc(100vh - #{$header-height} - #{$footer-height})
    +xl
      min-height: calc(100vh - #{$header-height-md} - #{$footer-height})
    +lg
      min-height: calc(100vh - #{$header-height-mob} - #{$footer-height})
    +xs
      min-height: calc(100vh - #{$header-height-mob} - #{$footer-height-mob})
    +r(395)
      min-height: calc(100vh - #{$header-height-mob} - #{$footer-height-xs})
  &--center
    +flex(center, center)
    padding-top: 5%
    padding-bottom: 5%
  &--error
    background-color: #eeeef0
    +cover
    background-size: auto
    background-position: 100% 50%
    +flex(center, flex-end, column)
    padding-left: var(--section-padding-lg, 100px)
    padding-right: var(--section-padding-lg, 100px)
    position: relative
    // +before
    //   +coverdiv
    //   background-color: rgba($white, .5)
    //   z-index: 0
    +md
      align-items: center
      padding-left: 15px
      padding-right: 15px
  &--pt-sm
    padding-top: 15px
  &--pb-lg
    padding-bottom: 120px
    padding-top: 0
  
.section-block
  position: relative
  z-index: 1
  padding-bottom: 25px
  +sm
    padding-bottom: 15px
  +xs
    padding-bottom: 10px
  &__article
    padding-left: 25px
    margin-bottom: 80px
    p
      margin-bottom: 25px
    +sm
      margin-bottom: 50px
      padding-left: 0
      p
        margin-bottom: 15px
    +xs
      margin-bottom: 30px
      p
        margin-bottom: 10px
  &__img
    padding-top: 35%
    +cover
  &__img-right
    position: absolute
    top: 2em
    right: var(--section-padding-md, 65px)
    bottom: 0
    z-index: 2
    width: 38%
    +cover
    +sm
      display: none

.s-about-01
  overflow: hidden
  .word
    top: var(--section-padding, 100px)
    right: -5%

.s-leader
  +cover
  position: relative
  color: $white
  overflow: hidden
  &__right
    transform: translateY(-100%)
    position: absolute
    right: 0
    top: 0
    bottom: 0
    width: percentage(890/1920)
    border-left: 1px solid  $white
    +flex(flex-start, nomral, row, wrap)
    +md
      position: static
      width: 100%
  &__title
    margin-bottom: 15px
    +md
      margin-bottom: 10px
  &__left
    opacity: 0

  &__content
    +flex(center, normal, column)
    // max-width: 55%
    max-width: percentage(1030/1920)
    min-height: 80vh
    +md
      min-height: 0
      max-width: none
      padding-top: 50px
      padding-bottom: 50px
  &__links
    +flex(flex-start, normal, row, wrap)
  &__link
    opacity: 0
    +flex(center, center)
    width: 50%
    padding: 10px
    position: relative
    &:nth-child(2)
      border-right: 1px solid  $white
    +hover
      +before
        visibility: visible
        opacity: 1
    +before
      +coverdiv
      z-index: 1
      background-color: rgba($red, .5)
      opacity: 0
      visibility: hidden
      +tr(opacity .3s, visibility .3s)

  &__link-lg
    width: 100%
    border-bottom: 1px solid  $white

.s-social
  border-bottom: 1px solid  $gray
  .word
    top: var(--section-padding)
    left: 20%

.s-tasks
  padding-top: 200px
  +xl
    padding-top: 100px
  +lg
    padding-top: 70px
  +sm
    padding-top: 50px
  +xs
    padding-top: 30px
  &__subttl
    color: $blue-accent
    font-size: 24px
    +bold
    +lg
      font-size: 18px
    +sm
      font-size: 16px
  &__title
    max-width: 675px
    margin-bottom: -220px
    position: relative
    +xl
      margin-bottom: 0  
  &__word
    position: absolute
    top: 0
    left: 0
    transform: translate(-40%, -40%)
    .word
      position: static
    +before
      +image('about/texture-05.png')
      background-size: contain
      background-repeat: no-repeat
      width: 390px
      height: 215px
      z-index: 0
      position: absolute
      top: -30px
      right: 0
