.slider
  $this: &
  &__wrap
    --content-padding: 50px
    --arrows-gap: 15px
    position: relative
    +md
      --arrows-gap: 10px
      --content-padding: 15px
    
  &__prev,
  &__next
    position: absolute
    top: 50%
    background-color: transparent
    z-index: 1
  &__prev
    +icon-arrow(15, 15, 1, $c-text, 45)
    display: inline-block
    transform: translate(0, -50%) rotate (45deg)
    left: var(--arrows-gap, 10px)
  &__next
    +icon-arrow(15, 15, 1, $c-text, -135)
    display: inline-block
    transform: translate(0, -50%) rotate (45deg)
    right: var(--arrows-gap, 10px)
  &__pagination
    .swiper-pagination-bullet
      display: inline-block
      width: 30px
      height: 2px
      background-color: #dbdbdb
      margin-left: 5px
      margin-right: 5px
      opacity: 1
      border-radius: 0
      &.swiper-pagination-bullet-active
        background-color: $red

  &--similar
    .swiper-slide
      height: auto
      box-sizing: border-box
    &__wrap
      +sm
        margin-left: calc(0px - var(--content-padding, 50px))
        margin-right: calc(0px - var(--content-padding, 50px))
        padding-left: var(--content-padding, 50px)
        padding-right: var(--content-padding, 50px)

  &--assort
    &__wrap
      padding-top: 45px
      position: relative
      +before
        +image('about/texture-01.png')
        background-repeat: no-repeat
        background-size: contain
        background-position: 50% 50%
        height: 50%
        width: 30px
        bottom: -25px
        left: calc(100% - 5px)
        position: absolute
      +md
        padding-top: 25px
        +before
          display: none
      +sm
        padding-top: 15px
      .swiper-slide        
        z-index:  0
      .swiper-container
        +sm
          // overflow: visible
          margin-left: calc(0px - var(--content-padding, 50px))
          margin-right: calc(0px - var(--content-padding, 50px))
          padding-left: var(--content-padding, 50px)
          padding-right: var(--content-padding, 50px)

    &__btns
      position: absolute
      // bottom: 50px
      bottom: 10%
      display: inline-block
      // left: calc(30% - 50px)
      left: 8%
      z-index: 1
      +xll
        bottom: 20px
      +sm
        left: 0
        top: 260px
      +xs
        top: 200px

  &--assort-block
    &__wrap
      .slider--assort
        &__btns
          bottom: 30%
          +sm
            bottom: auto
            top: 50%
          +xs
            top: 270px
          +xss
            top: 200px



  &--standart
    &__wrap
      .swiper-slide
        height: auto
        .slide
          height: 100%
    &__btns
      @extend .container
      width: 100%
      position: absolute
      z-index: 2
      top: calc(50% + 100px)
      transform: translate(-50%, -50%)
      left: 50%
      +md
        top: auto
        bottom: 350px
      +xs
        top: 270px
        bottom: auto
    &__btns-in
      max-width: percentage(10/12)
      text-align: right
      position: relative
      +xl
        max-width: percentage(10.7/12)
      +md
        max-width: none
      .arrow
        position: absolute
        top: 0
        right: 0
        transform: translate(0, -50%)
        +md
          right: auto
          left: 0
        &--prev
          transform: translate(calc(-100% - 10px), -50%)
          +md
            transform: translate(0, -50%)
        &--next
          +md
            transform: translate(calc(100% + 10px), -50%)
    &__counter
      @extend .container
      width: 100%
      position: absolute
      z-index: 2
      color: #e4e4e4
      +css-lock(50, 235, 320, 1199, font-size)
      +thin
      top: calc(50% - 100px)
      transform: translate(-50%, -50%)
      left: 50%
      pointer-events: none
      height: 0
      .slider-counter
        text-align: right
        max-width: percentage(9.5/12)
        margin-top: -.7em
      +md
        .slider-counter
          max-width: none
        top: auto
        bottom: 350px
      +xs
        top: 270px
        bottom: auto
    &__pagination
      @extend .container
      width: 100%
      position: absolute
      z-index: 2
      top: calc(50% - 150px)
      transform: translate(-50%, -50%)
      left: 50%
      height: 0
      padding-left: 60px
      +lg
        top: calc(50% - 170px)
        padding-left: 40px
      +md
        top: auto
        padding-left: 20px
        bottom: 330px
        margin-left: -5px
      +xs
        top: calc(270px + 20px)
        bottom: auto
    &__prev, &__next
      &.swiper-button-disabled
        // opacity: 0
        // visibility: hidden
  &--standart-blue-accent-light
    &__wrap
      .slider--standart
        &__counter
          color: #99c2f5
  &--standart-no-img
    &__wrap
      .slider--standart
        &__pagination
          +lg
            top: calc(50% - 140px)
          +md
            top: 70px
            bottom: auto
        &__btns
          +md
            bottom: auto
            top: 50px
        &__counter
          +md
            bottom: auto
            top: 70px

.assort-slide
  $this: &
  +flex(flex-start, center)
  // background-color: $white
  height: 100%
  position: relative
  box-sizing: border-box
  +xll
    padding-bottom: 30px
  +sm
    flex-direction: column
    margin-left: calc(0px - var(--section-padding-md, 65px))
    margin-right: calc(0px - var(--section-padding-md, 65px))
  &__title
    margin-bottom: 25px
    opacity: 0
    // transform: translateY(100px)
    +md
      margin-bottom: 15px
  &__content
    // width: percentage(7/12)
    flex: 0 0 percentage(7/12)
    position: relative
    z-index: 1
    p
      +notlast
        margin-bottom: 30px
        +md
          margin-bottom: 15px
    a
      color: $blue-light
    +sm
      width: 100%
      flex: 0 0 100%
      order: 1
    +xs
      padding-left: var(--section-padding-md, 65px)
      padding-right: var(--section-padding-md, 65px)
  &__img
    // width: percentage(6/12)
    flex: 0 0 percentage(6/12)
    margin-left: -#{percentage(1/12)}
    position: relative
    z-index: 0
    +cover
    padding-top: 60%
    // height: 100%
    transform: translateX(100%)
    
    +xll
      // height: calc(100% + 30px)
      margin-bottom: -30px
    +sm
      width: 100%
      flex: 0 0 100%
      margin-left: 0
      order: 0
      margin-bottom: 20px
      padding-top: 40%
      // height: auto
      // height: 60%
      // padding-top: 35%
    +xs
      padding-top: 270px
      // height: 270px
    +xss
      // padding-top: 0
      padding-top: 200px
      margin-bottom: 30px
  &__text
    text-align: left
    opacity: 0
    // transform: translateY(100px)
    padding-left: percentage(1/7)
    +md
      padding-left: 0

  &--block
    #{$this}__content
      background-color: $gray-lightest
      padding: 65px 45px 120px 80px
      height: 350px
      margin-left: 5%
      +xl
        padding: 50px 40px 120px
      +lg
        padding: 40px 40px 120px
      +md
        margin-left: 0
        padding: 30px
        height: 300px
      +sm
        padding: 15px
    #{$this}__text
      padding-left: 0

.arrow
  --arrow-size: 100px
  --arrow-font-size: 40px
  width: var(--arrow-size, 100px)
  height: calc(var(--arrow-size, 100px) / 2)
  background-color: $red
  color: $white
  +inline-flex(center, center)
  font-size: var(--arrow-font-size, 40px)
  +md
    --arrow-size: 75px
    --arrow-font-size: 35px
  .icon
    fill: currentColor
  &.swiper-button-disabled
    opacity: .5
  &--next
    .icon
      +rotate(180)
  &--white
    background-color: $white
    color: $red  

.standart-slide
  $this: &
  position: relative
  +md
    +flex(flex-start, normal, column)
  *
    box-sizing: border-box
  &__content
    opacity: 0
    max-width: percentage(9/12)
    height: 400px
    background-color: $gray-lightest
    padding: 130px 90px 65px 50px
    +xl
      padding: 100px 40px 40px
    +lg
      padding: 80px 30px 30px
    +md
      max-width: none
      padding: 50px 20px 20px
      height: 350px
    +xs
      height: 100%
  &__content-wrap
    @extend .container 
    position: absolute
    z-index: 1
    top: 50%
    transform: translate(-50%, -50%)
    left: 50%
    width: 100%
    +md
      position: relative
      left: auto
      top: auto
      transform: translate(0, 0)
      padding-left: 0
      padding-right: 0
      flex-grow: 1
  &__img
    transform: translateX(100%)
    +cover
    padding-top: 40%
    width: percentage(1300/1920)
    margin-left: auto
    position: relative
    z-index: 0
    +lg
      padding-top: 50%
    +md
      width: 100%
      padding-top: 40%
    +xs
      padding-top: 270px
  &__title
    margin-bottom: 25px
    +md
      margin-bottom: 10px
  &__text
    margin-bottom: 30px
    max-width: 520px
    +md
      margin-bottom: 15px
  &__content-bottom
    +flex(flex-start, center, row, wrap)
  &__contacts
    flex-grow: 1
    +flex(space-around, center, row, wrap)
    +lg
      width: calc(100% + 10px)
      margin-left: -5px
      margin-right: -5px
      justify-content: space-between
      padding-right: 50px
    +md
      padding-right: 0
  &__btn
    +lg
      margin-bottom: 10px
  &__contact
    margin-left: 5px
    margin-right: 5px
    margin-bottom: 5px
    .icon
      position: relative
      top: .2em
      font-size: 1.1em

  &--blue-accent-light
    #{$this}__content
      background-color: $blue-accent-light
  &--no-img
    margin-top: 50px
    margin-bottom: 50px
    #{$this}__content-wrap
      position: relative
      transform: translate(0, 0)
      left: auto
      top: auto
    #{$this}__content
      height: auto !important

